*.exe
*.o
.dll
*.DS_Store
lib/
*.a
.vscode/c_cpp_properties.json
.vscode/launch.json
android/.idea
android/.gradle
android/build
android/android.iml
android/app/build
android/app/.externalNativeBuild
android/app/src/main/assets
android/app/src/main/obj
android/local.properties
outputtest.txt
main
